version: "3.9"

services:
  db:
    image: postgres:15
    restart: always
    env_file:
      - ./.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5435:5432"

  web:
    build:
      context: ..
      dockerfile: infra/Dockerfile
    depends_on:
      - db
    ports:
      - "${APP_PORT}:${APP_PORT}"
    env_file:
      - ./.env
    volumes:
      - ../backend:/app/
    working_dir: /app
    command: uvicorn app.main:app --host=${APP_HOST} --port=${APP_PORT} --reload

volumes:
  postgres_data:
